@model IEnumerable<PolizaJuridica.Data.TipoParentesco>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo de Parentesco
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoParentescoDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoParentescoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TipoParentescoId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoParentescoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
