@using PolizaJuridica.ViewModels;
    <div class="card">
        <div class="card-header">
            <div class="row">
                <h3>@ViewBag.FiltroFecha</h3>
            </div>
            <div class="row">
                @using (Html.BeginForm())
                {
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Fecha Inicio </label>
                            <input name="FechaInicio" class="form-control" type="date">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Fecha Fin </label>
                            <input name="FechaFin" class="form-control" type="date">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="submit" class='btn btn-fill btn-primary btn-wd' value="Filtrar">
                        </div>
                    </div>

                }

            </div>
        </div>
        <div class="card-content">
            <h1>Bienvenido al Sistema de Póliza Jurídica</h1>
        </div>
    </div>

