<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer >
      <httpErrors errorMode="Detailed" />
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>
      <modules>
    <remove name="WebDAVModule" />
  </modules>
      <handlers>
        <add name="aspNetCore-app" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      <remove name="WebDAV" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\PolizaJuridica.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 03ca20fc-4d27-473b-9ad8-d077174e60e7-->